@model IEnumerable<AuthenticationTuanThu.Models.Category>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>All Categories</h2>
<h2>List Categories</h2>
<a asp-controller="Categories" asp-action="Upsert" class="btn btn-primary">Create new </a>
@* <form class="form-" *@
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">No</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody id="tblDatabase">
  @{
    var i = 1;
  }
  @foreach (var categories in @Model)
  {
    <tr>
      <td>@i</td>
      <td>@categories.Name</td>
      <td>@categories.Description</td>
      <td>
        @* $1$ <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" #1# *@
        @* $1$    asp-route-Id="@category.Id">Delete</a> #1# *@
        <a asp-controller="Categories" asp-action="Upsert" asp-route-Id="@categories.Id" class="btn btn-info">Edit</a>
        <a asp-controller="Categories" asp-action="Delete" asp-route-Id="@categories.Id" class="btn btn-danger" onClick="return confirm('Are you sure about that?')">Delete</a>
      </td>
    </tr>
    i++;
  }
  </tbody>
</table>
